* {
  margin: 0;
}
/* common shared style */
body h1,
h2,
h3,
h4 {
  font-family: Merriweather;
}
p {
  font-family: Inter;
}

/* banner section styles */
.banner {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
}
.banner .banner-design {
  width: 1320px;
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assests/banner.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  background-position: center;
  margin: 50px auto 0;
}
.banner-design h1 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.banner-design h2 {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
}
.headings {
  padding-top: 177px;
}
/* sale section styles */
.sale {
  text-align: center;
  margin-top: 120px;
}
.sale h2 {
  color: rgb(255, 30, 78);
  font-family: Inter;
  font-size: 85px;
  font-weight: 700;
}
.sale h3 {
  color: rgb(242, 37, 16);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 45px;
}
.sale h4 {
  color: rgb(250, 158, 14);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 48px;
}
/* party section style */
.party {
  width: 1320px;
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assests/party.png");
  margin: 120px auto;
  border-radius: 15px;
}
.welcome {
  display: flex;
  align-items: center;
  gap: 40px;
}
.party-details {
  padding: 0 100px;
}
.party-details h3 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 7px;
  padding-top: 125px;
}
.party-details p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 300;
  padding: 24px 0 48px;
}

.party-details button {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background: rgb(212, 172, 91);
  padding: 16px 32px;
  border-radius: 10px;
  border: 0;
}

.year img {
  margin-right: 130px;
  padding-top: 70px;
}

/* address section styles */

.address {
  width: 1320px;
  height: 600px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 120px auto;
  border-radius: 15px;
}
.address-container {
  text-align: center;
  padding-top: 120px;
}
.address-container p {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.address-container p span {
  color: rgb(255, 30, 78);
}

.address-container button {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background: rgb(255, 30, 78);
  padding: 16px 32px;
  border-radius: 10px;
  border: 0;
  margin-top: 48px;
}
/* best offer section styles */
.best-offer {
  width: 1320px;
  height: 600px;
  margin: 120px auto 0;
  border-radius: 15px;
}
.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.offer-description {
  max-width: 380px;
}
.offer-description h2 {
  color: rgb(255, 30, 78);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer-description h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 24px;
}
.offer-description p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}

.people img {
  border: 15px solid rgb(255, 30, 78);
  border-radius: 50%;
  padding: 40px;
}
.year-wish h3 {
  color: rgb(255, 30, 78);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.year-wish p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

/* holiday-sale style */

.holiday-sale {
  width: 1320px;
  margin: 0 auto 120px;
}

.holiday-sale-description {
  text-align: center;
}
.holiday-sale-description h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale-description h4 {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  padding-top: 16px;
}
.holiday-sale-description h4 span {
  color: #f00;
}

.holiday-sale-description p {
  max-width: 1060px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding-top: 28px;
  margin: 0 auto 64px;
}

.holiday-sale .gifts {
  width: 1320px;
  height: 662px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: url("../assests/red.png"), url("../assests/girl.png");
  background-position: bottom, top right;
  background-repeat: no-repeat;
}

.gift-box {
  width: 730px;
}
.gift-box .box {
  width: 555px;
  padding-bottom: 151px;
  padding-left: 130px;
}

.discount {
  margin-bottom: 230px;
}
/* portfolio section styles */
.portfolio {
  width: 1320px;
  margin: 0 auto;
}

.portfolio h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio h4 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.portfolio p {
  max-width: 890px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.upper-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.lower-row {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
}

/* newsletter section styles */
.newsletter {
  width: 1320px;
  height: 600px;
  background: rgba(255, 0, 0, 0.05);
  margin: 120px auto 0;
  border-radius: 15px;
}
.newsletter-container {
  text-align: center;
}
.newsletter-container img {
  padding-top: 80px;
  margin-bottom: 40px;
}

.newsletter-container h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0;
}
.newsletter-container p {
  max-width: 890px;
  margin: 24px auto 0;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.form {
  text-align: center;
  margin-top: 48px;
}
.form input {
  width: 400px;
  height: 72px;
  border: 0;
  border-radius: 50px 0 0 50px;
}
.form input::placeholder {
  padding-left: 30px;
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
}
.form button {
  width: 210px;
  height: 74px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 0px;
  margin-left: -5px;
}
